.headings {
  background-color: #008080;
  margin-top: 0.1rem;
  border-radius: 0px;
  border: none;
  height: 1.5rem;
  justify-content: space-between;
}
.left {
  font-size: medium;
  padding-left: 0.5rem;
  float: left;
}
.center {
  font-size: medium;
  text-align: center;
}
.right {
  font-size: medium;
  float: right;
  padding-right: 0.8rem;
}

.addeditems {
  justify-content: space-between;
}

.addeditems ul {
  font-size: small;
}

.expensetotal {
  text-align: left;
  margin-right: 2rem;
}
